
.imgLog
{
display: flex;
height: 500px;
width: 400px;
flex: row;
}

body {
  background: D9D9D9;
}

.imgBackLogin
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
  height: 450px;
  background-image: url("../components/img/imgLog.png");
  background-repeat: no-repeat;
  background-size: cover;
  
 
}
